.text-main{
    text-align: center;
}
.body{
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.mw{
    margin: auto;
}
.buttons{
    padding: 20px;
    margin: 3px;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;
}
.row{
    padding: 5px ;
}
.row input{
    font-size: 20px;
    margin: 9px;
    padding: 34px 24px 6px 30px;
}